/*General Styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://th.bing.com/th/id/OIP.Ts9LTYJ7mRaVpZ7JKoNEHAHaEK?pid=ImgDet&rs=1) no-repeat center center/cover;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}

body {
    font-family: Ariel, sans-serif;
    line-height: 1.4;
    color: #333;
    overflow-x: hidden;
}


/*Utility Classes */
.container{
    max-width: 1100px;
    margin: auto;
}
 
.text-primary {
    color: rgb(39, 161, 209);
}

.bg light{
    background: #f4f4f4;
    color: #fff;
}

/* Navbar */
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    
}

.navbar-links li:hover {
    background-color:darkblue;
}

footer{
    background-color: rgba(0, 0, 0, 0);
    min-height: 0%;
}
h1{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 10%;
    font-size: 90px;
}

/*Buttons*/
.new-links {
    text-align: center;
}

.new-links ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.new-links li {
    list-style: none;
    width: 500px;
    height: 60px;
    border: white;
    background-color: black;
    
}

.new-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}


.new-links li:hover {
    transition: 1s ease-in-out;
    background: #474747;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}



/* Hamburger Button*/
.toggle-button {
position: absolute;
top: .75rem;
right: 1rem;
display: none;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 21px;
}

.toggle-button .bar {
height: 3px;
width: 100%;
background-color: white;
border-radius: 10px;
}



/*Responsive*/
@media (max-width: 700px) {
.navbar {
    flex-direction: column;
    align-items: flex-start;
}

.toggle-button {
    display: flex;
}

.navbar-links {
    display: none;
    width: 100%;
}

.navbar-links ul {
    width: 100%;
    flex-direction: column;
}

.navbar-links ul li {
    text-align: center;
}

.navbar-links ul li a {
    padding: .5rem 1rem;
}

.navbar-links.active {
    display: flex;
}

.welcome-text {
    width: 100%;
    height: auto;
    margin: 30% 0;
}
.welcome-text h1 {
    font-size: 30px;
}

.new-links li {
    list-style: none;
    width: 500px;
    height: 60px;
    
}

}